<?php
//custom config for form with formid=form1

return [
    "to" => "web-ber12@yandex.ru",
    "subject" => "Новое письмо с сайта",
    "customRules" => [
        'name' => 'required|min:6',
        'email' => 'email',
    ],
    "customMessages" => [
        'name.required' =>  trans('evocms-user-core::messages.required_field', [ 'field' => 'Name' ]),
        'name.min' => trans('evocms-user-core::messages.minlength', [ 'num' => 6, 'field' => 'Name' ]),
        'email.email' => trans('evocms-user-core::messages.valid_email', ['field' => 'Email' ]),
    ],
    "prepare" => function($data) {
        $data['name'] .= ' - prepared ';
        $data['attachments'] = [ 'assets/images/image1.jpg', 'assets/images/image2.jpg' ]; //массив файлов для прикрепления к письму
        return $data;
    },
    "customValidator" => function($data) {
        $errors = [];
        if (empty($data['name'])) {
            $errors['name'] = trans('evocms-user-core::messages.required_field', [ 'field' => 'Name' ]);
        }
        if (empty($data['email'])) {
            $errors['email'] = trans('evocms-user-core::messages.required_field', [ 'field' => 'Email' ]);
        }
        return $errors;
    },
    "reportTpl" => '@CODE:[+name+]<br>[+email+]<br>[+message+]',

];